@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 10px;
        display: inline-block;
    }

    video {
        width: 100%;
    }

    .center-box {
        width: 90%;
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .logo {
        font-size: 20px;
    }
}
